body{
		margin: 2%;
		border: 1px solid black;
		background-color: #b3b3b3;
}
#image{
    line-height:650px;
		width: 575px;
    height: 650px;
		border:5px solid black;
		margin:0 auto;
    background-color: #77abe6;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
}
p{
    display: inline;
    padding: 10px;
    color: #ffffff;
    background-color: rgb(0, 0, 0, 0.5);
}
.preview{
		width:10%;
		margin-left:17%;
    border: 10px solid black;
}
img{
		width:95%;
}